.divSearchBar{
    display: flex;
    justify-content: right;
    justify-items: right;
    position: static;
    padding: 10px;
    padding-top: 0px;
    width: 700px;
    height: 100px;
    margin-top: 10px;
    margin-left: 214px;
   
}
.form{
    color: rgb(0, 0, 0);
    display: flex;
    position: static;
    width: 400px;
    height: 30px;
    text-align: center;
    font-size: large;
    border: 1px solid rgba(128, 128, 128, 0.493);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.767);
    
}
.form:hover{
    transform: scale(1.01);
    color: black;
    background: #C4DDFF;
    box-shadow: 0 4px 30px rgb(0, 0, 0);
    backdrop-filter: blur(8.5px);
}
.buscarform{
    background-color: rgba(255, 255, 255, 0.568);
    
    position: static;
    font-size: large;
    color: black;
    border: 1px solid rgba(128, 128, 128, 0.493);
    border-radius: 10px;
    justify-content: center;
    display: flex;
    width: 180px;
    margin-left: 10px;
    height: 30px;
}
.buscarform:hover{
    transform: scale(1.01);
    color: black;
    background: #d0ddf0;
    box-shadow: 0 4px 30px rgb(0, 0, 0);
    backdrop-filter: blur(8.5px);
}