html{
    font-family: 'Jost', sans-serif;
    background-image: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

/* // background: rgb(111,149,227);
// background: linear-gradient(0deg, rgba(111,149,227,1) 0%, rgba(56,75,113,1) 64%, rgba(36,48,73,1) 78%, rgba(0,0,0,1) 100%); */