.AppDay{
  font-family: 'Jost', sans-serif;
  background: url("./assets/dia.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.AppNight{
  font-family: 'Jost', sans-serif;
  background: url("./assets/noche.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.30437685328037467) 0%, rgba(0,0,0,0.6293068252691701) 57%, rgba(0,0,0,0.7637606067817753) 79%, rgba(0,0,0,1) 100%);
  min-height: 100vh;
}

.row {
  display: flex;
  justify-content: center;
}
