.contenedorPadre{
    width: 100%;
    display: flex;
    justify-content: space-between;
    a:hover{
        text-decoration: none;
    }
    .contenedorTitle{
        display: flex;
        flex-direction: row;
        align-items: center;
        .Link{

            display: flex;
            justify-content: space-between;
            align-items: center;

            .iconNightC{
                margin-left: 10px;
                margin-right: 10px; 
                width: 60px;
                height: 60px; 
            }
            .iconDay{
                width: 80px;
                height: 80px;
            }
            .h1navNight{
                margin-top: 18px;
                text-decoration: none;
                color: white;
                margin-left: 4px;
                font-size: 3rem;
            }
            .h1nav{
                margin-top: 18px;
                text-decoration: none;
                color: white;
                margin-left: 4px;
                font-size: 3rem;
            }
            .h2nav{
                text-decoration: none;
                color: white;
                margin-right: 6px;
            }
        }
    }
    .Link{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 5px;
        img{
            width: 30px;
            height: 30px;
        }
        .h2nav{
            text-decoration: none;
            color: white;
            margin-right: 6px;
            margin-top: 4px;
        }
    }

    .checkbox {
        opacity: 0;
        position: absolute;
    }
    
    .label {
        top: 14px;
        left: 14px;
        width: 50px;
        height: 26px;
        background-color:rgb(255, 255, 255);
        border: 1px solid black;
        display: flex;
        border-radius:50px;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        position: relative;
        transform: scale(1.5);
        transition: all 0.5s ease;
        cursor: pointer;
      }
      
      .ball {
        width: 21px;
        height: 21px;
        background-color: rgb(209, 209, 209);
        border: 0.5px solid black;
        position: absolute;
        top: 1.4px;
        left: 1.5px;
        border-radius: 50%;
        transition: transform 0.2s linear;
      }
      
      /*  target the elemenent after the label*/
      .checkbox:checked + .label .ball{
        transform: translateX(24px);
      }

      .checkbox:checked + .label{
        background-color: black;
        border: 0.3px solid white;
      }

      
      .fa_moon {
        width: 16px;
        height: 16px;
      }
      
      .fa_sun {
        width: 20px;
        height: 20px;
      }
}

